name: Test

on:
  pull_request:
    branches: [ "main" ]
  workflow_call:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install commitizen
      run: |
        python -m pip install -U commitizen
    - name: Run commitizen dry-run
      run: |
        cz bump --yes --dry-run
